CONFIG_BUTTON_NAME="btn_up"
CONFIG_LED_NAME="led_user"
CONFIG_BOARD_CHOICE_T5AI=y
CONFIG_BOARD_CHOICE_TUYA_T5AI_EINK_NFC=y
CONFIG_ENABLE_LIBLVGL=y
CONFIG_ENABLE_LVGL_LODEPNG=y
CONFIG_ENABLE_NFC=y
CONFIG_ENABLE_NFC_PN532=y
CONFIG_BUTTON_NAME_2="btn_down"
CONFIG_BUTTON_NAME_3="btn_enter"
CONFIG_BUTTON_NAME_4="btn_return"
CONFIG_BUTTON_NAME_5="btn_left"
CONFIG_BUTTON_NAME_6="btn_right"
